# Ignorar archivos y directorios generados por MySQL
/mysql_data/

# Ignorar archivos de configuración de entorno
.env

# Ignorar directorios de dependencias y caché
/vendor/
/node_modules/
/.phpunit.result.cache

# Ignorar archivos de configuración del IDE
/.idea/
/.vscode/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db
